<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SALES.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SALES.My.MySettings>
            <setting name="sqlcon1" serializeAs="String">
                <value>Data Source=DESKTOP-0P54SP0\SQL;Initial Catalog=DB_SALES;Integrated Security=True</value>
            </setting>
        </SALES.My.MySettings>
    </applicationSettings>
</configuration>
